
*
  box-sizing border-box

body
  margin 0px
  background hsl(240,50,97)

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,80)
  border-radius 2px

@font-face
  font-family quicksand
  src url('../font/quicksand.woff') format('woff')

#border
  width 1000px
  box-shadow 0px 0px 40px gray
  margin 0px auto
  padding 0px 40px 400px

#title
  font-size 40px
  text-align center
  font-family quicksand
  padding 60px
  font-weight bold

#play
  display -webkit-box
  -webkit-box-orient horizontal

#source
  border none
  outline none
  resize none

#source, #result
  width 460px
  height 600px
  box-shadow 0px 0px 20px hsl(0,0,80)
  font-family monospace
  font-size 16px
  padding 60px 10px 140px
  overflow scroll
  line-height 20px

#result
  background hsl(0,0,90)

  pre
    margin 0px
  code
    padding 0px

#note
  font-family quicksand
  margin-top 20px

#doc
  margin 60px 0px 80px
  font-family quicksand
  font-size 17px

pre code
  background hsla(0,0,0,0)

p
  font-family quicksand
  margin 0px
  line-height 30px
  code
    color white
    border-radius 2px
    background hsl(0,10,80)
    margin 0px 8px
    padding 1px 6px

.sub-title
  font-size 22px
  margin 40px 0px
  font-weight bold

a
  text-decoration none

li
  line-height 26px
  margin 20px